<script>
  export let RED // RED is global, but the compiler will throw a warning
</script>

<div class="form-row"><span>Do Node options</span></div>
<div class="form-row">
  <label for="do-node-show-mark">Mark nodes</label>
  <span style="margin-right: 2px;">
    <input type="checkbox" id="do-node-show-mark" style="width: auto;" checked={RED.settings.get('do').markNodes}
    on:change={() => {
      const doOptions = RED.settings.get('do')
      doOptions.markNodes = !doOptions.markNodes
      RED.settings.set('do', doOptions)
    }
  }>
  </span>
</div>