	<p>Ends a task initiated by a do-node and returns to it.</p>
	<p>
	    Three return modes are possible:
	    <ul>
	        <li><b>continue:</b> Continues with the current task (flow).</li>
	        <li><b>done:</b> Goes to the next task (flow) or ends the flow (if no more tasks are defined) by sending the message to the done-output.</li>
	        <li><b>abort:</b> Skips all remaining tasks (flows) and directly exits at the done-output.</li>
	    </ul>

      <p>
        <b>Save msg.payload as value:</b> Only if you iterate through a collection (do -> each value mode)! This option let you decide if you want only read over your collection or to overwrite the current value with the current msg.payload.
        <p>Warning: If you change the index of an array (index-value pair), the value of the original index will be set to undefined.
          If you set the value of an object to undefined, the key will be deleted.</p>
      </p>
	</p>
  