<script context='module'>
  let doRedNodes = []
  RED.events.on('view:selection-changed', (selection) => {
    // remove old highlights
    if (RED.settings.get('do')?.markNodes) {
      doRedNodes.forEach(n => {
        const uiNode = document.getElementById(n.id)?.querySelector('.red-ui-flow-node')
        if (uiNode) {
          uiNode.classList.remove('red-ui-flow-node-highlighted')
          uiNode.setAttribute('style', '')
        }
      })
      if (selection?.nodes?.length === 1 && selection.nodes[0].type === 'do-return') {
        doRedNodes = []
        const walkNode = (linkData) => {
          const node = linkData.source
          if (node?.type === 'do') {
            // node is a do-node -> end of this wire
            const isLastOutput = linkData.sourcePort + 1 === node.outputs
            
            if (isLastOutput) {
              // if last output is a task can only be valid with 'msg mode' and 'continue' or 'each mode'
              const modeIsOk = (node.mode === 'msg' && returnNode.mode === 'continue') || (node.mode === 'each' )
              if (node.doneOutput || !modeIsOk) {
                // custom classes may not be loaded yet (only after opening return node), therefor use style (only working as setAttribute)
                document.getElementById(node.id)?.querySelector('.red-ui-flow-node')?.setAttribute('style', 'stroke: var(--red-ui-notification-border-error);')
                // maybe this was a nested do-node -> check for parent do-nodes
                RED.nodes.getNodeLinks(node, 1).forEach(n => walkNode(n))
              } 
            }
            doRedNodes.push(node)
          } else if (node?.type === 'link in') {
            node.links.forEach(id => {
              RED.nodes.getNodeLinks(RED.nodes.node(id), 1).forEach(n => walkNode(n))
            })
          } else if (node) {
            // go on
            RED.nodes.getNodeLinks(node, 1).forEach(n => walkNode(n))
          }
        }
        // get input linked nodes from the selected do-return node
        const returnNode = selection.nodes[0]
        setTimeout(() => {
          RED.nodes.getNodeLinks(returnNode, 1).forEach(n => walkNode(n))
          // try to highlight found do nodes (could be in a different flow)
          doRedNodes.forEach(n => document.getElementById(n.id)?.querySelector('.red-ui-flow-node')?.classList.add('red-ui-flow-node-highlighted'))
        }, 100)
      }
    }
  })

  const getDoReturnIcon = (node = {}) => {
    switch (node.mode) {
      case 'done':
        return 'fa-check-square-o'
      case 'abort':
        return 'fa-square'
      case 'continue':
        return 'fa-square-o'
      default:
        return 'fa-check-square-o'
    }
  }

  RED.nodes.registerType('do-return', {
    name: { value: 'return' },
    category: 'function',
    color: '#B4D2FF',
    defaults: {
      name: { value: '', label: 'Name', icon: 'tag' },
      mode: { value: 'done', required: true },
      saveValue: { value: false, label: 'Save into collection' }
    },
    inputs: 1,
    outputs: 0,
    icon: function () {
      return 'font-awesome/' + getDoReturnIcon(this)
    },
    paletteLabel: 'return',
    label: function () {
      return this.name || this.mode
    },
    oneditprepare: function () {
      render(this)
    },
    oneditsave: function () {
      update(this)
    },
    oneditcancel: function () {
      revert(this)
    }
  })
</script>

<style>
</style>

<script>
  import MarkInput from './utils/MarkInput.svelte'
	import { Input, Select } from  'svelte-integration-red/components'
  import { onMount } from 'svelte'

  export let node

  // Fallback older return node
  if (typeof node.saveValue === 'undefined') node.saveValue = false

  const modeTooltip = 
`The mode declares how the parent "do-node" will go on with the flow.
So the message will always be send back to the do node and then:
- continue: repeat the current task
- done: start the next task
- abort: skip remaining tasks and trigger the "done" output
`

  const saveTooltip = 
`## Save msg.payload as value into collection

The save value option is only necessary if you iterate through a collection (do node -> each value mode).

This option let you decide if you want only read over your collection or to overwrite/delete the current value with the current msg.payload.

Check example tab "each" for a live demonstration.
`

  onMount(() => {
    // add mark input option
    const uiOptionsForm = document.getElementById('node-input-show-label')?.closest('form')
    if (uiOptionsForm) {
      new MarkInput({
        target: uiOptionsForm,
        props: { RED }
      })
    }
  })

  $: modeIcon = getDoReturnIcon(node)
</script>

<Input bind:node prop="name"/>
<Select bind:node prop="mode" icon={modeIcon} tooltip={modeTooltip}>
  <option value="continue">continue</option>
  <option value="done">done</option>
  <option value="abort">abort</option>
</Select>

{#if node.mode !== "abort"}
  <Input labelBeforeCheckbox maximize bind:node prop="saveValue" type="checkbox" icon="save" tooltip={saveTooltip}/>
{/if}